albumentations==2.0.5
beautifulsoup4==4.13.4
clip==0.2.0
comet_ml==3.49.8
coremltools==8.2
csscompressor==0.9.5
dvclive==3.48.2
flatbuffers==25.2.10
hub_sdk==0.0.20
ipython==8.12.3
jsmin==3.0.1
lap==0.5.12
lvis==0.5.3
matplotlib==3.10.1
mct_quantizers==1.5.2
minify_html==0.16.4
MNN==3.1.2
model_compression_toolkit==2.3.0
mss==10.0.0
ncnn==1.0.20241226
nncf==2.16.0
numpy==2.2.4
onnx==1.17.0
onnx2tf==1.27.2
onnxruntime==1.21.0
onnxslim==0.1.50
opencv_python==4.11.0.86
openvino==2025.1.0
paddle==1.0.2
pafy==0.5.5
pandas==2.2.3
Pillow==11.2.1
pillow_heif==0.22.0
psutil==7.0.0
py_cpuinfo==9.0.0
pycocotools==2.0.8
pytest==8.3.5
pytubefix==8.12.3
PyYAML==6.0.2
PyYAML==6.0.2
ray==2.44.1
Requests==2.32.3
roboflow==1.1.61
sahi==0.11.22
scipy==1.15.2
seaborn==0.13.2
sentry_sdk==2.26.1
Shapely==2.1.0
sony_custom_layers==0.3.0
streamlit==1.44.1
super_gradients==3.7.1
tensorflow==2.19.0
tensorflowjs==4.22.0
tensorrt==10.9.0.34
tflite_runtime==2.14.0
tflite_support==0.4.4
thop==0.1.1.post2209072238
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
transformers==4.51.3
tritonclient==2.56.0
ultralytics_thop==2.0.14
wandb==0.19.9
x2paddle==1.6.0
yt_dlp==2025.3.31
